<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Bank List</h3>
    </div>
    <div class="col-md-2 text-end">
        <a asp-controller="Document" asp-action="Create" class="btn btn-primary">
            Add
        </a>
    </div>
</div>
<div class="row container">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr class="card-header">
                <th class="card-title text-center">DocumentNumber</th>
                <th class="card-title text-center">DocumentType</th>
                <th class="card-title text-center">IssueDate</th>
                <th class="card-title text-center">ExpirationDate</th>
                <th class="card-title text-center">ConsigneeName</th>
                <th class="card-title text-center">ExporterName</th>
                <th class="card-title text-center">DispatchMethod</th>
                <th class="card-title text-center">FinalDestination</th>
                <th class="card-title text-center">TransportationType</th>
                <th class="card-title text-center">TaxFee</th>
                <th class="card-title text-center">ShippingFee</th>
                <th class="card-title text-center">AssurranceFee</th>
            </tr>
            </thead>
            <tbody class="tblDocuments">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deliveryOrderModal" tabindex="-1" aria-labelledby="deliveryOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="deliveryOrderModalLabel">Bank</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
