@model KoiDeliveryOrdering.MVCWebApp.Models.UserModel

@{
    ViewData["Title"] = "Login";
    var errorMsg = ViewData["ErrorMsg"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mt-5">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login</h3>

                    <form asp-action="Login" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input type="text" asp-for="Username" class="form-control" placeholder="Enter your username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Enter your password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        @if (errorMsg != null)
                        {
                            <span class="text-danger text-sm-start">@errorMsg?.ToString()</span>
                        }
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>

                    <div class="mt-3 text-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>