<div id="pagination" class="d-flex justify-content-center align-items-center my-4">
    <button id="back-page"
            class="btn btn-light d-flex align-items-center justify-content-center me-2"
            type="button"
            style="border: none; outline: none; background: none; cursor: pointer;">
        <img src="https://img.icons8.com/ios/50/circled-left-2.png" alt="Previous Page" width="20" height="20" />
    </button>
    <p class="mb-0 me-2">
        Page <strong id="current-index">1</strong> of <strong id="total-page">5</strong>
    </p>
    <button id="next-page"
            class="btn btn-light d-flex align-items-center justify-content-center"
            type="button"
            style="border: none; outline: none; background: none; cursor: pointer;">
        <img src="https://img.icons8.com/ios/50/circled-right-2.png" alt="Next Page" width="20" height="20" />
    </button>
</div>
