@model KoiDeliveryOrdering.API.Payloads.Requests.CreateDeliveryOrderRequest;

@{
    int totalAnimal = 0;
    double totalSize = 0;
    double totalPrice = 0;
}


<div class="row container mt-5">
    <h1>Create</h1>
    <form asp-action="Create">
        <div class="fw-bold mb-3 me-3">
            <span asp-validation-for="Animals" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <div class="">
                <div class="border bg-dark bg-opacity-10 p-3 flex-row align-content-center rounded-top">
                    <img src="https://viettelpost.vn/assets/images/user-forward.svg" class="me-2">
                    <span class="fw-bold fs-4">SENDER</span>
                </div>
                <div class="border rounded-bottom">
                    <div class="form-group mt-3 p-2 px-3">
                        <label asp-for="SenderInformationId" class="control-label">Sender Information</label>
                        <select asp-for="SenderInformationId" class="form-control" asp-items="ViewBag.SenderInformationId"></select>
                    </div>
                    <div class="d-flex justify-content-end m-3" role="button">
                        <span style="font-size: small;">Manage Sender Information</span>
                        <img src="https://viettelpost.vn/assets/images/arrow-right.svg" class="mx-2">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="border bg-dark bg-opacity-10 p-3 flex-row align-content-center rounded-top">
                    <img src="https://viettelpost.vn/assets/images/user-check.svg" class="me-2">
                    <span class="fw-bold fs-4">RECIEVER</span>
                </div>
                <div class="border rounded-bottom">
                    <div class="form-group mt-3 p-2 px-3">
                        <label asp-for="RecipientPhone" class="control-label">Phone Number</label>
                        <input asp-for="RecipientPhone" class="form-control mt-1" placeholder="Input recipient phone number" />
                        <span asp-validation-for="RecipientPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1 p-2 px-3">
                        <label asp-for="RecipientName" class="control-label">Fullname</label>
                        <input asp-for="RecipientName" class="form-control mt-1" placeholder="Input recipient fullname" />
                        <span asp-validation-for="RecipientName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1 p-2 px-3">
                        <label asp-for="RecipientAddress" class="control-label">Address</label>
                        <input asp-for="RecipientAddress" class="form-control mt-1" placeholder="Input recipient address" />
                        <span asp-validation-for="RecipientAddress" class="text-danger"></span>
                    </div>
                    <div class="row form-group mt-1 p-2 px-3">
                        <div class="col-md-6">
                            <select asp-for="ProvinceName" asp-items="ViewBag.Provinces"
                                    class="form-control selectpicker"
                                    data-live-search="true"
                                    id="provinceSelect">
                                <option value="" disabled selected>Select a Province</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select asp-for="DistrictName"
                                    class="district form-control selectpicker"
                                    data-live-search="true"
                                    id="districtSelect">
                                <option value="" disabled selected>Select a District</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group mt-1 p-2 px-3">
                        <div class="col-md-6">
                            <select asp-for="WardName"
                                    class="form-control selectpicker"
                                    data-live-search="true"
                                    id="wardSelect">
                                <option value="" disabled selected>Select a Ward</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-1 p-2 px-3">
                        <label asp-for="RecipientAppointmentTime" class="control-label">Delivery Appointment</label>
                        <select asp-for="RecipientAppointmentTime" asp-items="ViewBag.DeliveryAppointments"
                                class="form-control selectpicker"
                                data-live-search="true">
                            <option value="" disabled selected>Select a Delivery Appointment</option>
                        </select>
                        <span asp-validation-for="RecipientAppointmentTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="mb-5 mt-3">
                <div class="mt-3">
                    <div class="border bg-dark bg-opacity-10 p-3 flex-row align-content-center rounded-top">
                        <img src="https://viettelpost.vn/assets/images/truck.svg" class="me-2">
                        <span class="fw-bold fs-4">SERVICE & PROMOTION</span>
                    </div>
                    <div class="border rounded-bottom">
                        <div class="mt-4 p-2">
                            <img src="https://viettelpost.vn/assets/images/icon/icon-voucher.svg" class="mx-4">
                            <span class="fw-bold fs-5">PROMOTION</span>
                        </div>
                    <div class="form-group p-2 px-3">
                        <select asp-for="VoucherPromotionId" asp-items="ViewBag.VoucherPromotionId"
                            class="form-control selectpicker"
                            data-live-search="true">
                            <option value="" disabled selected>Select a Promotion</option>
                        </select>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="border">
                <div class="border bg-dark bg-opacity-10 p-3 flex-row align-content-center rounded-top">
                    <img src="https://viettelpost.vn/assets/images/package.svg" class="me-2">
                    <span class="fw-bold fs-4">ITEMS INFORMATION</span>
                </div>
                <div class="border-bottom rounded-bottom p-3">
                    <div id="animalContainer">
                    </div>

                    <button type="button" class="btn btn-primary" id="addAnimal">Add Another Animal</button>
                </div>
                <div class="p-3">
                    <div class="row mt-3">
                        <div class="col-md-9">
                            <span class="fs-4">Total size:</span>
                        </div>
                        <div class="col-md-3 text-danger fw-bold">
                            <span id="deliveryTotalSize">0</span>
                            <span>g</span>
                        </div>
                    </div>
                    <div class="row mt-2 mb-5">
                        <div class="col-md-9">
                            <span class="fs-4">Total price estimated:</span>
                        </div>
                        <div class="col-md-3 text-danger text-wrap fw-bold">
                            <span id="deliveryTotalPrice">0</span>
                            <span class="fs-4">₫</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border mt-3">
                <div class="border bg-dark bg-opacity-10 p-3 flex-row align-content-center rounded-top">
                    <img src="https://viettelpost.vn/assets/images/truck.svg" class="me-2">
                    <span class="fw-bold fs-4">OTHER INFORMATION</span>
                </div>
                <div class="row p-4 d-flex flex-column">
                    <div class="col-md-6">
                        <input asp-for="TotalAmount" type="number" hidden />
                        <label asp-for="IsSenderPurchase" class="control-label mb-2">Payer</label>
                        <div class="d-flex">
                            <div class="form-check">
                                <input asp-for="IsSenderPurchase" type="radio" class="form-check-input" value="true" id="isSenderPurchaseTrue" />
                                <label for="isSenderPurchaseTrue" class="fw-normal mx-0">Sender</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="IsSenderPurchase" type="radio" class="form-check-input mx-0" value="false" id="isSenderPurchaseFalse" />
                                <label for="isSenderPurchaseFalse" class="fw-normal mx-2">Reciever</label>
                            </div>
                        </div>
                        <span asp-validation-for="IsInternational" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ShippingFeeId" class="control-label">Shipping Fee</label>
                        <select asp-for="ShippingFeeId" asp-items="ViewBag.ShippingFeeId"
                                class="form-control selectpicker"
                                data-live-search="true"
                                onchange="handleShippingFeeSelected(event)">
                            <option value="" disabled selected>Select a Shipping Fee</option>
                        </select>
                        <span asp-validation-for="ShippingFeeId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label asp-for="IsInternational" class="control-label mb-2">Send to Other Country</label>
                            <input asp-for="IsInternational" class="form-check-input mx-2" value="true" />
                            <span asp-validation-for="IsInternational" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-summary fixed-bottom border-top bg-white p-3 shadow mt-5">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <span class="fw-bold">VAT:</span>
                    <span id="taxFee" class="fs-5 fw-bold text-primary">10%</span>
                </div>
                <div class="d-flex flex-column">
                    <span class="fw-bold">Total Fare:</span>
                    <div class="text-danger fw-bold">
                        <span id="totalFare" class="fs-5">0</span>
                        <span>₫</span>
                    </div>
                </div>
                <div class="d-flex flex-row form-group mt-3">
                    <input type="submit" value="Create Order" class="btn btn-danger form-control me-3" />
                    <a class="btn btn-success" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $('.selectpicker').selectpicker();

            // Initiate select handling methods
            handleProvinceSelect();
            handleDistrictSelect();
            addAnimalHandler();
        });

        function handleProvinceSelect(){
            $('#provinceSelect').change(function () {
                // Get selected value 
                var selectedProvinceCode = $(this).val(); 
                console.log("Selected Province Code: " + selectedProvinceCode);

                // Get all district by province code
                $.ajax({
                    url: 'http://localhost:7000/api/delivery-orders/provinces/' + selectedProvinceCode,
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);

                        // Clear all district & ward option
                        $('#districtSelect').empty();
                        // Append placeholder value
                        $('#districtSelect').append('<option value="">Select a District</option>');

                        // Check if districts are returned
                        if (result.status == 1 && result.data != null) {
                            // Iterate through the districts and add each one as an option
                            $.each(result.data.districts, function (index, district) {
                                $('#districtSelect').append('<option value="' + district.code + '">' + district.name + '</option>');
                            });

                            $('#districtSelect').selectpicker('refresh');
                        } else {
                            // Handle case where no districts are returned
                            $('#districtSelect').append('<option value="">No Districts Available</option>');
                            $('#districtSelect').selectpicker('refresh');
                        }
                    },
                    error: function (xhr, error) {
                        alert(xhr.statusText);
                        console.log(error);
                    }
                });
            });
        }

        function handleDistrictSelect(){
            $('#districtSelect').change(function () {
                // Get selected value
                var selectedDistrictCode = $(this).val();
                console.log("Selected District Code: " + selectedDistrictCode);

                // Get all ward by district code
                $.ajax({
                    url: 'http://localhost:7000/api/delivery-orders/districts/' + selectedDistrictCode,
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);

                        // Clear all ward option
                        $('#wardSelect').empty();
                        // Append placeholder value
                        $('#wardSelect').append('<option value="">Select a Ward</option>');

                        // Check if wards are returned
                        if (result.status == 1 && result.data != null) {
                            // Iterate through the wards and add each one as an option
                            $.each(result.data.wards, function (index, ward) {
                                $('#wardSelect').append('<option value="' + ward.code + '">' + ward.name + '</option>');
                            });

                            $('#wardSelect').selectpicker('refresh');
                        } else {
                            // Handle case where no wards are returned
                            $('#wardSelect').append('<option value="">No Wards Available</option>');
                            $('#wardSelect').selectpicker('refresh');
                        }
                    },
                    error: function (xhr, error) {
                        alert(xhr.statusText);
                        console.log(error);
                    }
                });
            });
        }

        function addAnimalHandler(){
            $('#addAnimal').on("click", function () {
                // Get animal container by id
                var container = document.getElementById("animalContainer");
                // Current count of animals
                var animalIndex = container.children.length; 
                // Initiate HTML code statement
                var newAnimalEntry = `
                    <div class="animal-entry mb-3 border rounded p-4">
                        <div class="row mb-3">
                            <h5 class="col-md-8 fw-bold fs-4 align-content-center">Animal ${animalIndex + 1}</h5>
                            <div class="col-md-4 mb-3">
                                <select name="Animals[${animalIndex}].AnimalTypeId"
                                                class="form-control"
                                                data-live-search="true">
                                    <option value="" disabled selected>Animal Type</option>
                                @foreach (var item in ViewBag.AnimalType)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-9">
                                <label for="Animals_${animalIndex}__Breed" class="control-label">Breed*</label>
                                <input name="Animals[${animalIndex}].Breed" class="form-control mt-1" placeholder="Enter breed"/>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label for="Animals_${animalIndex}__ColorPattern" class="control-label">Color Pattern</label>
                                <input name="Animals[${animalIndex}].ColorPattern" type="color" class="form-control mt-1" placeholder="Enter color pattern"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Animals_${animalIndex}__Size" class="control-label">Size*</label>
                                <input name="Animals[${animalIndex}].Size" 
                                    type="number" 
                                    class="animalSize form-control mt-1" 
                                    placeholder="Enter size"
                                    onChange="countItemTotalSize()"
                                    />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="Animals_${animalIndex}__Age" class="control-label">Age</label>
                                <input name="Animals[${animalIndex}].Age" type="number" class="form-control mt-1" placeholder="Enter age"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Animals_${animalIndex}__EstimatedPrice" class="control-label">Estimate Price*</label>
                                <input name="Animals[${animalIndex}].EstimatedPrice" 
                                    type="number" 
                                    class="estimated-price form-control mt-1" 
                                    placeholder="Enter estimated price"
                                    onChange="countItemTotalEstimatedPrice()"/>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="Animals_${animalIndex}__HealthStatus" class="control-label">Health Status*</label>
                                <select name="Animals[${animalIndex}].HealthStatus"
                                                class="form-control"
                                                data-live-search="true">
                                    <option value="" disabled selected>Health Status</option>
                                    @foreach (var item in ViewBag.HealthStatus)
                                    {
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Animals_${animalIndex}__Description" class="control-label">Description</label>
                                <textarea name="Animals[${animalIndex}].Description" class="form-control mt-1" placeholder="Enter description"></textarea>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="Animals_${animalIndex}__OriginCountry" class="control-label">Origin Country</label>
                                <input name="Animals[${animalIndex}].OriginCountry" class="form-control mt-1" placeholder="Enter origin country"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                             <div class="col-md-3">
                                <label name="Animals_${animalIndex}__ImageUrl"class="control-label">Image</label>

                                <img src="" id="animalImageDisplay_${animalIndex}" width="300px" class="mb-4" style="display:none" />

                                <input type="button"
                                       id="animalImageTarget_${animalIndex}"
                                       value="Browse"
                                       class="btn btn-success text-white fw-medium rounded me-2 mb-2 px-3 py-2 shadow"
                                       style="background-color: #28a745; border: none;"
                                       onclick="document.getElementById('file_${animalIndex}').click();" />
                                <input
                                    type="file" 
                                    style="display:none;" 
                                    id="file_${animalIndex}" 
                                    onChange="handleImageAction(event, ${animalIndex})" />
                            </div>
                            <div>
                                <input name="Animals[${animalIndex}].IsAvailable" value="true" type="hidden" />
                                <input name="Animals[${animalIndex}].ImageUrl" id="imageReturnUrl_${animalIndex}" type="hidden" />
                            <div/>
                        </div>

                        <button type="button" class="btn btn-danger remove-animal mt-3">Remove Animal</button>
                    </div>
                `;

                // Insert HTMl code statement to animal container
                container.insertAdjacentHTML('beforeend', newAnimalEntry);

                // Refresh the selectpicker
                $('.selectpicker').selectpicker('refresh');
            });

            document.addEventListener("click", function (e) {
                if (e.target.classList.contains("remove-animal")) {
                    e.target.closest(".animal-entry").remove();
                    // Update total size 
                    countItemTotalSize();
                    // Update estimated price 
                    countItemTotalEstimatedPrice();
                }
            });
        }

        async function handleImageAction(e, animalIndex) {
            // Get handling image properties using jQuery
            const $animalImageDisplay = $(`#animalImageDisplay_${animalIndex}`);
            const $inputImageValue = $(`#imageReturnUrl_${animalIndex}`);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            $.ajax({
                url: 'http://localhost:7000/api/images/upload',
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    $animalImageDisplay.css('display', 'block'); 
                    $animalImageDisplay.attr('src', result.link);
                    $inputImageValue.val(result.link);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                    console.log(error);
                }
            });
        }
        
        function countItemTotalSize(){
            var currentSize = parseFloat($('#deliveryTotalSize').text());
            
            // Count total animal size 
            var animalSizes = $('.animalSize').map(function () {
                return this.value;
            }).get();

            var totalAnimalSize = 0;
            animalSizes.forEach((item) => totalAnimalSize += parseInt(item));

            console.log(animalSizes);

            $('#deliveryTotalSize').text(`${totalAnimalSize ? totalAnimalSize : 0}`);
        }

        function countItemTotalEstimatedPrice() {
            var currentPrice = parseFloat($('#deliveryTotalPrice').text());

            // Count total estimated price
            var estimatedPrices = $('.estimated-price').map(function () {
                return this.value;
            }).get();

            var totalEstimatedPrice = 0;
            estimatedPrices.forEach((price) => totalEstimatedPrice += parseInt(price));

            // Get selected shipping fee (if any)
            var selectedText = $('#ShippingFeeId option:selected').text();
            console.log(selectedText);
            // Use regex to extract the fee value from the selected option
            var feeMatch = selectedText.match(/Fee: (\d+\.?\d*₫)/);

            if (feeMatch) {
                var fee = feeMatch[1].replace('₫', '');
                totalPriceAfterTax = totalEstimatedPrice + (totalEstimatedPrice * 0.1) + parseInt(fee);
            } else {
                console.log("Fee not found");
                totalPriceAfterTax = totalEstimatedPrice + (totalEstimatedPrice * 0.1);
            }

            $('#totalFare').text(`${totalPriceAfterTax ? totalPriceAfterTax : 0}`);
            $('#deliveryTotalPrice').text(`${totalEstimatedPrice ? totalEstimatedPrice : 0}`);

            // Update the hidden input field for TotalAmount
            $('input[name="TotalAmount"]').val(totalPriceAfterTax ? totalPriceAfterTax : 0);
        }

        function handleShippingFeeSelected(e){
            // Count total estimated price
            var estimatedPrices = $('.estimated-price').map(function () {
                return this.value;
            }).get();

            // Count current estimatedPrices
            var totalEstimatedPrice = 0;
            estimatedPrices.forEach((price) => totalEstimatedPrice += parseInt(price));
            
            // Get selected shipping fee
            var selectedText = event.target.options[event.target.selectedIndex].text;

            // Use regex to extract the fee value from the selected option
            var feeMatch = selectedText.match(/Fee: (\d+\.?\d*₫)/);

            if (feeMatch) {
                var fee = feeMatch[1].replace('₫', '');
                // Add more 10% of taxation
                var totalPriceAfterTax = totalEstimatedPrice + (totalEstimatedPrice * 0.1) + parseInt(fee);
                // Update total price 
                $('#totalFare').text(`${totalPriceAfterTax ? totalPriceAfterTax : 0}`);
            } else {
                console.log("Fee not found");
            }

        }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
